# Parameters
param select parameters.bson # select params from file
param import # import them
param set SYS_AUTOCONFIG 0 # disable automatic config
param set MAV_TYPE 2 # multicopter
param set SYS_AUTOSTART 4017 # NXP drone hover games

# Camera
param set TRIG_INTERFACE 3     # Use MAVLink interface for triggering
param set TRIG_INTERVAL 1000   # Interval in milliseconds for time-based triggering
param set TRIG_MODE 1     # Trigger time based, on command

# Management services for mission data, CPU load and battery status 
dataman start
load_mon start
battery_status start

# Sensors
icm42605 start -s -R 4 # IMU sensor
qmc5883l start -I -R 6 # magnetometer
ms5611 start -I # barometric pressure sensor
ads1115 start -I # ADC
gps start -d /dev/ttySC0 -i uart -p ubx # GPS
sensors start

# Start PWM output driver and control allocator
pca9685_pwm_out start
control_allocator start

# RC Control
rc_input start -d /dev/ttyAMA0
rc_update start

# Start the main state machine of the flight controller
commander start

# Tasks
navigator start # navigation
ekf2 start # Extended Kalman Filter for state estimation
land_detector start multicopter # landing detection service for multicopters
mc_hover_thrust_estimator start # hover thrust estimator for multicopters
flight_mode_manager start # flight mode manager
mc_pos_control start # position control for multicopters
mc_att_control start # attitude control for multicopters
mc_rate_control start # rate control for multicopters
logger start -t -b 200 # Logging service

# Mavlink communication
mavlink start -x -u 14556 -r 1000000 -p # UDP
mavlink start -x -Z -d /dev/ttySC1 # Telemetry

# Send boot complete signal via Mavlink
mavlink boot_complete
